.idea
.DS_Store
*.pyc

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
data/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
package-lock.json

# dashboard
dashboard/node_modules/
dashboard/dist/
dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
dashboard/package-lock.json

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
