@import './mixin.scss';
@import './element-ui.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// define
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 100%;
}

.card {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.sch-card-header {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 2rem 1rem 1rem;
}

.sch-detail {
  margin-top: 2rem; // display: flex; 
  width: 100%;
}

.sch-detail-header {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
}

.sch-detail-summery span {
  padding-right: 3rem;
}

.sch-detail-summery strong {
  padding-left: 1rem;
}

.sch-detail-body {
  border: 1px solid #d1dbe5;
  padding: 0 1rem 0 1rem;
}

pre{
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  width: 100%;
  overflow: auto;
  border-radius: 3px;
  display: block;
}

code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}